# Token de autenticação(AuthToken) do NGROK para abrir um tunel publico(Obrigatório)
NGROK_AUTHTOKEN=your_ngrok_authtoken_here

# Rota que receberá as requisições de webhooks
WEBHOOK_ENDPOINT=/webhook

# Porta da API
API_PORT=8080

# Flag para mostrar as requisições no terminal (todas ficam persistidas no
# banco local independente desta flag)
LOG_IN_BASH=true

# Rota que será utilizada para alteração de configurações e informações de log
ADMIN_ROUTE=/admin

# Secret de acesso para a área administrativa
ADMIN_TOKEN=
